
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Maak</title>
</head>
<body>
    <h1>Nieuw lid:</h1>
    @ViewBag.Lid
</body>
</html>
